In [ ]:
def summation(a):
  sum = 0
  for i in a:
    sum += i
  return sum

print(summation([1,2,5,6,7,8]))

29

In [ ]:
import random
a = [random.randint(1,10) for i in range(10)]
print(a)
b = {1,2}
b.clear()
for i in a:
  if a.count(i) > 1:
    b.add(i)

print(b)

[9, 6, 4, 10, 9, 1, 4, 4, 6, 7]
{9, 4, 6}

In [ ]:
for i in range(8):
  for i in range(8):
    print("#" , end="")
  print("\n")

########

########

########

########

########

########

########

########

In [ ]:
fruit_list = ["apple", "banana", "Orange", "lemon"]
for i in range(len(fruit_list) - 1, -1, -1):
  print(fruit_list[i])

lemon
Orange
banana
apple

In [ ]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
for i in countries:
  if "land" in i:
    print(i)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

In [ ]:
person = {
    "first_name" : "Zanzun",
    "last_name" : "dessouky",
    "age" : 19,
    "country" : "France",
    "is_married" : False,
    "skills" : ["JavaScript", "React", "Node", "MongoDB", "Python"]
}

if "skills" in person.keys():
  print(person["skills"])
  if "JavaScript" in person["skills"] and "React" in person["skills"]:
    print("He is a frontend")
  elif "Node" in person["skills"] and "Python" in person["skills"] and "MongoDB" in person["skills"]:
    print("He is a backend")
  elif "Node" in person["skills"] and "React" in person["skills"] and "MongoDB" in person["skills"]:
    print("He is a fullstack")
  else:
    print("unknown title")

print(f"{person['first_name']} {person['last_name']} lives in {person['country']}")

['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
He is a frontend
Zanzun dessouky lives in France

In [ ]:
def same_data(a):
  typ = type(a[0])
  for i in a:
    if type(i) != typ:
      return False
  return True

a = [4,5,79,"i", 20]
print(same_data(a))
a = [4,5,79, 20]
print(same_data(a))

False
True

In [ ]:
# def valid_var_name(str):
#   for i in str:
#     if "a" < i < "z" or "A" < i < "Z" or i == "_":
#       continue
#     elif type(str[0]) != type (5):
#       continue
#     else:
#       return False
#   return True

# a = "2ultra"
# b = "zina fun"
# p = "Zina_fun"
# o = "u&oi"
# print(valid_var_name(a))
# print(valid_var_name(b))
# print(valid_var_name(p))
# print(valid_var_name(o))

True
True
True
True

In [ ]:
def taxiFare(num):
  return 4 + ((num // 140) * 0.25)

num = 290
print(taxiFare(num))

4.5

In [47]:
num = int(input("Enter a num:"))
for i in range(num+1):
  for j in range(1, i+1):
    print(j, end=" ")
  print()

Enter a num:7

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [48]:
num = int(input("Enter a num:"))
for i in range(num+1):
  for j in range(i, 0, -1):
    print(j, end=" ")
  print()

Enter a num:7

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1
7 6 5 4 3 2 1

In [64]:
num = int(input("Enter a num:"))
for i in range(num+1, 0, -1):
  for j in range(num - i + 1):
    print(" ", end="")
  print("* " * i)

Enter a num:6
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *